#global
#    daemon
#    maxconn 30000
#    log 127.0.0.1 local0 debug
#
#defaults
#    log global
#    option tcplog
#    maxconn 30000
#    timeout connect 30000
#    timeout client 1800000
#    timeout server 1800000
#    timeout check 1000
#    log-format %ci\ [id=%ID]\ [%t]\ %f\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ {%hrl}\ {%hsl}\ %{+Q}r
#
#
#frontend http-in
#    bind *:1080
#    default_backend webservers
#
#backend webservers
#    stats enable
#    stats uri /haproxy?stats
#    balance roundrobin
#    option httpchk
#    option forwardfor
#    option http-server-close
#    server web1 10.10.4.21:8080 check
#    server web2 10.10.4.22:8080 check
#
global
    daemon
    maxconn 30000
    log 127.0.0.1 local0 debug

defaults
    log global
    option tcplog
    maxconn 30000
    timeout connect 30000
    timeout client 1800000
    timeout server 1800000
    timeout check 1000
    log-format %ci\ [id=%ID]\ [%t]\ %f\ %b/%s\ %Tq/%Tw/%Tc/%Tr/%Tt\ %ST\ %B\ %CC\ %CS\ %tsc\ %ac/%fc/%bc/%sc/%rc\ %sq/%bq\ {%hrl}\ {%hsl}\ %{+Q}r

listen web
    bind *:443
    mode http
    balance roundrobin
    option httpchk OPTION * HTTP/1.1\r\nHost:\ www
    option forwardfor
    server kube_master1 {{ master01 }}:443
    server kube_master2 {{ master02 }}:443
    server kube_master3 {{ master03 }}:443

listen stats
    bind *:1080
    mode http
    stats enable
    stats refresh 30s
    stats uri /stats


